.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    color: black;

    &--font-color--green {
        color: #fff;

        .section__title {
            color: inherit;
        }
    }     
}

.section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 55px;
    text-align: center;
}